<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="wrap">
        <div class= "header">
            <h1>Anyeonghaseo yeorobunn>_< </h1>
            <p>Find me in instagram: @Ingridrorez Akunnya private, jangan lupa follow XIXIXI </p>
        </div>
<h1>Hello Ingrid Cakep kiww!</h1>
<p>time in one hour : <%= 1.hour.from_now %></p>
<p>It is now <%= @time %></p>
<p>oke jadi sekian dulu untuk web ini, untuk web selanjutnya you can tap this
            <a href="goodbye.html">BUUBYEE LOV</a>
        </p>
</body>
</html>