<h1>Editing studium ruby</h1>

<%= render "form", studium_ruby: @studium_ruby %>

<br>

<div>
  <%= link_to "Show this studium ruby", @studium_ruby, class: "btn btn-dark" %> |
  <%= link_to "Back to studium rubies", studium_rubies_path, class: "btn btn-dark" %>
</div>
